<!DOCTYPE html>
<html>
  <head>
    <title>Flask Framework Based Appliance Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
<label class="switch">
      <input type="checkbox" class="switch-input">
      <span class="switch-label" data-on="On" data-off="Off"></span>
      <span class="switch-handle"></span>
    </label>

    <label class="switch">
      <input type="checkbox" class="switch-input" checked>
      <span class="switch-label" data-on="On" data-off="Off"></span>
      <span class="switch-handle"></span>
    </label>

    <label class="switch switch-green">
      <input type="checkbox" class="switch-input" checked>
      <span class="switch-label" data-on="On" data-off="Off"></span>
      <span class="switch-handle"></span>
    </label>

  </body>
</html>