<!DOCTYPE html>
<html>
  <head>
    <title>Flask Framework Based Appliance Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
  	<table>
  			<caption>Specifications</caption>
			<tr>
				<td>
					<label class="switch">
						  <input type="checkbox">
						  <div class="slider round"></div>
					</label>
				</td>
				<td>
					<form action="/reverse" method="POST">
						<input type="submit" value="2">
					</form>
				</td>
				<td>
					<form action="/left" method="POST">
						<input type="submit" value="3">
					</form>
				</td>
				<td>
					<form action="/right" method="POST">
						<input type="submit" value="4">
					</form>
				</td>

			</tr>
			<tr>
				<td>
					<form action="/forward" method="POST">
						<input type="submit" value="5">
					</form>
				</td>
				<td>
					<form action="/reverse" method="POST">
						<input type="submit" value="6">
					</form>
				</td>
				<td>
					<form action="/left" method="POST">
						<input type="submit" value="7">
					</form>
				</td>
				<td>
					<form action="/right" method="POST">
						<input type="submit" value="8">
					</form>
				</td>

			</tr>
		</table>
  </body>
</html>